.big-video {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.big-video-wrapper {
	width: 60%;
}

.videos {
	min-width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.videos > .video-list-wrapper {
	flex: 1 0 auto;
	width: 20rem;
	max-width: 50%;
	padding: 0 0.5rem;
	/*max-width: 400px;*/
}
.videos > .video-list-wrapper > .height-wrapper {
	height: 100%;
}

@media (max-width: 480px) {
	.big-video-wrapper {
		width: 100%;
	}

	.videos > .video-list-wrapper {
		max-width: 100%;
		/*max-width: 400px;*/
	}
}
